
body {
     background-color: #FFA000;
}
 
 #board {
     height: 70%;
     width: 100%;
 }
 
 #boardcontainer {
     height: 100vh;
     width: 60vw;
 }
 
 .tile {
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 300%;
     font-weight: 500;
     color: white;
    height: 30%;
     margin: 2px;
     float: left;
     border-radius: 10%;
     background-color: #00796B;
     box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
 }
 
 .clear {
     clear: both;
 }
 
 #button {
     border: 2px solid #00796B;
     padding: 5px;
     border-radius: 15px;
     color: #00796B;
     margin-bottom: 15px;
     box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
 }
 
 #button:hover {
     cursor: pointer;
     background-color: #00796B;
     color: white;
 }
.options {
	color: white;
    font-weight: 800;
    font-size: 150%;
    margin: 10px;
    
}
.options:hover {
	cursor: pointer;
}
.optionactive{
    border: 2px solid #00796B;
     padding: 5px 10px;
    background-color: #00796B;
     border-radius: 15%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
 }
.score {
	color: white;
    font-weight: 500;
    font-size: 150%;
    margin: 0 10px; 
    padding: 5px 10px;
    border: 3px solid white;
    
}
.mode{
    color: white;
    font-weight: 600;
    font-size: 100%;
    margin: 0px 5px 0 5px;
}
.mode:hover{
    cursor: pointer;
}
.modeactive{
    border: 2px solid #00796B;
     padding: 1px 10px;
    background-color: #00796B;
     border-radius: 5%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
#result {
	position: absolute;
    z-index: 2;
    color: white;
    font-weight: 600;
    font-size: 250%;
    text-align: center;
    
}

 
 @media only screen (min-device-width: 1024px) and (max-device-width: 1366px) {
     #boardcontainer {
         width: 100vw;
     }
     #board {
         height: 50%;
     }
 }
 
 @media only screen(min-device-width: 800px) and (max-device-width: 1280px) {
     #boardcontainer {
         width: 100vw;
     }
     #board {
         height: 50%;
     }
 }
 
 @media (max-width: 767px) {
     #boardcontainer {
         width: 100vw;
     }
     #board {
         height: 50%;
     }
 }
